<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/products/logo.jpg" />

	<title> Chocolate el mejor</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>

	<%- include("./partials/header") %>



	<!-- Banner -->
	<div class="banner">
		<img src="" alt="">
	</div>

	<% console.log('En la vista') %>
    

	<% if(locals.user){ %>
		<img class= "avatar" src="../public/images/avatars/<%=user.avatar %>" alt="">
      <h2>Hola: <%= locals.user.nombre %> </h2>
    <%}%>
	
	
    
	<% if(locals.user){ %>
		<p><a href="/register/edit/<%=user.id%>">Editar perfil</a></p>
      <form action="/login/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    <%} else {%>
      <a href="/login">Ingresar</a>
      <a href="/register">Registrate</a>
    <%}%>

	<!--BUSCADOR-->
	<h2>Buscar chocolates</h2>
	<form action="/chocolates/search" method="GET" class="">
		<input type="text" name="search" value="" placeholder="Buscar chocolates">
		<button type="submit">Buscar</button>
	</form>
	<!-- /Banner -->

<div class="nuevoCh">
	<a href="/chocolates/create">Nuevo chocolate</a>
</div>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<% for(let i=0; i<products.length; i++){ %>
					<a href="/chocolates/id/<%= products[i].id%>">
						<figure class="product-box_image">
							<img src="/images/products/<%= products[i].image %>" alt="">
						</figure>
						<article class="product-box_data">
							<h2><%= products[i].productName %></h2>
						</article>
					</a>
					<% } %>

				</section>
			</div>



		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->

		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>