<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/products/logo.jpg"/>

	<title> Chocolate el mejor</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<% if(locals.user){ %>
		<%- include("./partials/headerLogueado") %>
		<%} else {%>
		<%- include("./partials/header") %>
		<%}%>

	<!-- product detail -->

   

	
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					
					<p>Detalles del chocolate <%= product.productName  %> </p>
					<figure class="product-box_image">
						<img src="/images/products/<%= product.image %>" alt="cafetera moulinex">
					</figure>

					<% if(locals.user && locals.user.id == product.user.id){ %>
						 
						<form action="/chocolates/delete/<%= product.id %> "method="POST">
							<button type="submit">Borrar Producto</button>
						</form>
						 
						<form action="/chocolates/editProduct/<%= product.id %> "method="POST">
							<button type="submit">Editar posteo</button>
						</form>


						
				
					
					
						<%} %>
							

				
					<p> <a href="/users/id/<%= product.user.id %> ">Usuario: <%=product.user.nombre  %> <%=product.user.apellido  %></a>  </p>
                   
					

				</article>


				<div class="col-12 col-lg-4">
					<section class="comments">
                       
						<% for (let i=0; i<product.comments.length; i++ ) { %>
                            <article>
								
								<div class="data">
									<p class="user">
									<strong> <a href="/users/id/<%= product.comments[i].user.id %>"> <%= product.comments[i].user.nombre %> <%= product.comments[i].user.apellido %></a> </strong>
									<%= product.comments[i].text %>  </p>
								</div>
							</article>
						<% } %> 


						
					</section>
					<form class="form" action="/chocolates" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div> 							
			</div> 
		</div>
		
	</div> 
	<!-- /product detail -->

	<!-- footer -->
	<%- include("./partials/footer") %> 
	<!-- /footer -->

</body>	
</html>