<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/products/logo.jpg"/>

	<title> Chocolate el mejor</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado.ejs")%>
	<!-- /Header -->

	<H1>Editar mi perfil</H1>
    <a href="/">Home</a>
    <a href="/login">Ingresar</a>

    <% if(locals.errors){ %>
        <p class="error">
            <%= locals.errors.message %>
        </p>
        <% } %>

		<img class= "avatar" src="/images/avatars/<%=user.avatar%>" alt="">
    <form action="/register/edit" method="POST" enctype="multipart/form-data" class="ingresar">
		<div>
			<input type="text" name="nombre" value="<%= user.nombre %>" placeholder="Nombre de usuario">
		</div>
		<div>
			<input type="text" name="apellido" placeholder="Apellido" value="<%= user.apellido %>">  
		</div>
		<div>
			<input type="int" name="dni" value="<%= user.dni %>" placeholder="DNI">
		</div>
		<div>
			<input type="text" name="email" value="<%= user.email %>" placeholder="email" disabled>
		</div>
		<div>
			<input type="password" name="password" value="" placeholder="password">
		  </div>
		  
		<div>
			<input type="date" name="birthDate" value="" placeholder="Fecha de nacimiento">
		</div>
		<div> nueva imagen de perfil </div>
		<input type="file" name="avatar" value="">
		<div >

		</div>
        <button type="submit">Actualizar datos</button>
    </form>


	<!-- footer -->
	<%- include("./partials/footer") %> 
	<!-- /footer -->
</body>

</html>